<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperación de Contraseña - Agustin Hardware</title>
    <style>
      body { font-family: Arial, sans-serif; margin: 0; padding: 0;
      background-color: #454545; display: flex; justify-content: center;
      align-items: center; height: 100vh; } .forgot-password-container {
      background-color: #ffffff; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px; border-radius: 5px; width: 300px; text-align: center; } h1
      { color: #333333; margin-bottom: 20px; } label { display: block;
      margin-bottom: 5px; color: #555555; } input { width: 100%; padding: 10px;
      margin-bottom: 10px; border: 1px solid #dddddd; border-radius: 5px; } p {
      color: #555555; margin-bottom: 10px; } a { color: #007bff;
      text-decoration: none; } a:hover { text-decoration: underline; } button {
      background-color: #3a8749; color: #ffffff; border: none; padding: 10px
      20px; border-radius: 5px; cursor: pointer; transition: background-color
      0.3s ease; } button:hover { background-color: #1a431d;}
    </style>
  </head>
  <body>
    <div class="forgot-password-container">
      <h1>Recuperación de Contraseña</h1>

      {{#if error}}
        <p style="color: red;">{{error}}</p>
      {{/if}}

      {{#if success}}
        <p style="color: green;">{{success}}</p>
      {{else}}
        <p>Ingresa tu dirección de correo electrónico para recuperar tu
          contraseña:</p>
        <form action="/forgot-password" method="POST">
          <label>Email:</label>
          <input type="email" name="email" required />
          <br />
          <button type="submit">Enviar</button>
        </form>
      {{/if}}

      <p><a href="/login">Volver al inicio de sesión</a></p>
    </div>
  </body>
</html>